<!DOCTYPE html>
{%  load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} TestLab {% endblock title %}</title>
    <link rel="stylesheet" href="{%  static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Ик.</div>
        <div class="title">{% block logo_title %} TestLab {% endblock logo_title %}</div>
        <nav>
            <a href="#">{% block page1 %} Default page 1 {% endblock page1 %}</a>
            <a href="#">{% block page2 %} Default page 2 {% endblock page2 %}</a>
        </nav>
        <div class="account">{% block account %} Акк {% endblock %}</div>
    </header>
    {% block content %} {% endblock %}
</body>
</html>
