{% extends "base.html" %}

{% block page1 %} Конструктор {% endblock page1 %}
{% block page2 %} Авторизация {% endblock page2 %}

{% block content %}
    <main>
        <aside>
            <section class="categories">
                <h2>Категории</h2>
                <ul>
                    <li>Математика</li>
                    <li>Информатика</li>
                    <li>Java</li>
                    <li>Лингвистика</li>
                </ul>
            </section>
            <section class="statistics">
                <h2>Статистика</h2>
                <p>Решено: 9</p>
                <p>Средний балл: 4.7</p>
            </section>
            <footer>
                <p>testlab@gmail.com</p>
                <p>Kazan, Republic of Tatarstan</p>
            </footer>
        </aside>
        <section class="content">
            <input type="text" placeholder="Поиск" class="search">
            {% for test in tests %}
                <div class="test">
                    <h3>{{ test.0 }} </h3>
                    <p> {{ test.1 }} </p>
                </div>
            {% endfor %}


            <div class="pagination">
                <a href="{% url 'home_page' pg=1 %}" class="btn"> << </a>

                {% for page in pages %}
                    <a href="{% url 'home_page' pg=page %}" class="btn">{{ page }}</a>
                {% endfor %}
               <a href="{% url 'home_page' pg=last_page %}" class="btn"> >> </a>
            </div>
        </section>
    </main>
{% endblock content %}
